body {
    padding: 0;
    margin: 0;
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-areas: 
    "h h"
    "m m"
    "f f";
    gap: 1%;
    position: relative;
}

header {
    grid-area: h;

}
   
main {
    grid-area: m;
    height: calc(100vh/2);
}

footer {
    grid-area: f;
}

@media (max-width: 400px) {
    body {
        grid-template-areas:
            "h"
            "m"
            "f";
    }
}